* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    font-family: sans-serif;
    /*    background-color: white;*/
    /*    margin: 0;*/
}

main {
    background-color: white;
    margin: 0;
    margin-bottom: 180px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

h4 {
    font-size: 0.9rem;
    ;
    font-weight: 600;
}

p {
    font-size: 0.9rem;
}

/*------STYLE AF NAV------*/

nav {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: black;
    padding-bottom: 80px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 100;
}

#menuknap {
    margin-right: 20px;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    padding-top: 10px;
}

#link_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

#navbar {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.bar1,
.bar2,
.bar3 {
    width: 32px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}


.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 5px);
    transform: rotate(-45deg) translate(-8px, 5px);
    background-color: #454545;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px);
    background-color: #454545;
}




/*--------------sortér knap----------------*/
.kategorier {
    display: flex;
    flex-direction: column;
}

.kategorier button {
    letter-spacing: .2rem;
    padding: 20px;
}


.hidden {
    display: none;
}

#liste {
    margin-bottom: 40px;
}

.sorter {
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    padding: 15px 20px;
    width: 45%;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
    font-size: 1rem;
    font-weight: 100;

    margin: auto;
    margin-top: 30px;
}






/*--------------footer----------------*/

.footer {
    background-color: #2f2f2f;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    /*    text-align: left;*/
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.footer h2 {
    text-align: center;
    color: white;
}

.footer h2:hover {
    color: #FF1ACA;
}

.footer a {
    text-align: left;
    margin-left: 2rem;
    color: white;
    line-height: 1.6;
    /*    display: inline-block;*/
}

.footer a:hover {
    color: #FF1ACA;
}

/*LINKS*/

button {
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    background-color: white;
    font-weight: 100;
}

button:hover {
    background-color: none;
    color: #FF1ACA;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #FF1ACA;
    transition: .3s;
}

/*booking_knap = i single view*/

#booking_knap {
    background-color: #2f2f2f;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
}

#booking_knap:hover {
    background-color: white;
    color: #2f2f2f;
    border: 1px solid #2f2f2f;
    transition: .3s;
}

/*book_knap = i sektion med booking på forside*/

#book_knap {
    background-color: white;
    color: #2f2f2f;
    border: 1px solid #2f2f2f;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

#book_knap:hover {
    background-color: #2f2f2f;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    transition: .3s;
}


/*Galleri*/

div.image-container figure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
}

.pic1 {
    grid-column: 1/2;
}

.pic2 {
    grid-column: 2/3;
}

.pic3 {
    grid-column: 3/4;
}

.pic4 {
    grid-column: 4/5;
}

.pic5 {
    grid-column: 5/6;
}

.pic6 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.pic7 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.pic8 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.pic9 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.pic10 {
    grid-column: 5/6;
    grid-row: 2/3;
}




/*------loop view forside------*/

#oversigt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

article {
    display: grid;
}

#se_mere,
article img,
article p {
    grid-area: 1/1;
}

#se_mere {
    place-self: end center;
    margin-bottom: 30px;

    background-color: rgb(255, 255, 255, .8);
    color: #2f2f2f;
    /*    border: 1px solid #555555;*/
    padding: 8px 40px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    /*    opacity: 80%;*/
    /*    z-index:-1;*/
}

article p {
    text-align: center;
    padding-top: 55px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    /*    color:white;*/
    /*    text-shadow:2px 2px white;*/
}

article img {
    width: 85%;
    place-self: center;
    margin-top: 90px;
}

input {
    text-transform: uppercase;
}





/*------animationer-------*/

.openmenu {
    animation-name: slide_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

@keyframes slide_kf {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.closemenu {
    animation-name: slideout_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

@keyframes slideout_kf {
    100% {
        transform-origin: 0% 0%;
        transform: translateX(100%);
    }

    0% {
        transform-origin: 0% 0%;
        transform: translateX(0%);
    }
}




@media (max-width: 650px) {
    div.image-container figure {
        display: flex;
        gap: 10px;
    }

    .image-container {
        overflow-x: scroll;
        padding: 20px;
    }

    .image-container figure {
        flex-basis: 90%;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .image-container img {
        margin-right: 20px;
    }
}


@media (min-width: 650px) {

    /*
    article img {
        width: %;
    }
*/

    #se_mere:hover {
        background-color: #2f2f2f;
        padding: 8px 40px;
        border-radius: 20px;
        color: white;
        transition: .3s;
    }

    #sorter_section {
        margin-top: 60px;
        position: sticky;
        top: 10vh;
        align-self: flex-start
    }

    .kategorier {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .kategorier button {
        letter-spacing: .2rem;
        padding-top: 10px;
        text-align: justify;
        margin-left: 60px;
        font-weight: 100;
        color: #575757;
    }

    .kategorier button:hover {
        color: #FF1ACA;
        transition: .3s;
    }

    #liste {
        display: grid;
        grid-template-columns: 20% 80%;
        margin-bottom: 45px;
    }

}

.sorter {
    border: none;
    width: 45%;

    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1rem;
    font-weight: 400;

    margin-left: 60px;
    margin-top: 30px;
    text-align: justify;
}



}
