    /*styling af selve col3*/

    #detail {
        margin: 35px 30px;
    }

    #col2 {
        padding-top: 20px;
    }

    #col2 h2 {
        font-size: 1.2rem;
        font-weight: 400;
        padding-top: 10px;
    }

    .navn {
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-weight: 400;
    }

    .beskrivelse {
        padding-top: 15px;
        font-weight: 100;
        padding: 15px 0 35px;
    }


    #col3 {
        padding: 35px 35px 45px;
        background-color: #F7F4F4;
    }

    #col3 h4 {
        font-weight: 600;
        letter-spacing: .2rem;
        font-size: .8rem;
    }

    #col3 p {
        padding: 5px 0 25px;
        font-weight: 100;
        font-size: .85rem;
        letter-spacing: .15rem;
    }


    #booking_knap_container {
        text-align: center;
        padding-top: 20px;
    }





    @media (min-width: 650px) {}
